<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarLabel">
            Adauga/editeaza autoturism</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   ng-model="vm.car.id" readonly>
        </div>
        <div class="form-group">
            <label>Nume</label>
            <input type="text" class="form-control" name="name"
                   ng-model="vm.car.name">
        </div>
        <div class="form-group">
            <label>Descriere</label>
            <input type="text" class="form-control" name="description"
                   ng-model="vm.car.description">
        </div>
        <div class="form-group">
            <label>Marca</label>
            <input type="text" class="form-control" name="marca"
                   ng-model="vm.car.marca">
        </div>
        <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" name="model"
                   ng-model="vm.car.model">
        </div>
        <div class="form-group">
            <label>Versiune</label>
            <input type="text" class="form-control" name="versiune"
                   ng-model="vm.car.versiune">
        </div>
        <div class="form-group">
            <label>Nr. inmatriculare</label>
            <input type="text" class="form-control" name="nrInmatriculare"
                   ng-model="vm.car.nrInmatriculare">
        </div>
        <div class="form-group">
            <label>An fabricatie</label>
            <input type="text" class="form-control" name="anFabricatie"
                   ng-model="vm.car.anFabricatie">
        </div>
        <div class="form-group">
            <label>Capacitate cilindrica motor</label>
            <input type="text" class="form-control" name="capacitateCilindrica"
                   ng-model="vm.car.capacitateCilindrica">
        </div>
        <div class="form-group">
            <label>Tip combustibil</label>
            <input type="text" class="form-control" name="combustibil"
                   ng-model="vm.car.combustibil">
        </div>
        <div class="form-group">
            <label>Cutie de viteza (manuala/automata)</label>
            <input type="text" class="form-control" name="cutieViteza"
                   ng-model="vm.car.cutieViteza">
        </div>
        <div class="form-group">
            <label>Transmisie</label>
            <input type="text" class="form-control" name="transmisie"
                   ng-model="vm.car.transmisie">
        </div>
        <div class="form-group">
            <label>Caroserie</label>
            <input type="text" class="form-control" name="caroserie"
                   ng-model="vm.car.caroserie">
        </div>
        <div class="form-group">
            <label>Culoare</label>
            <input type="text" class="form-control" name="culoare"
                   ng-model="vm.car.culoare">
        </div>
        <div class="form-group">
            <label>Putere (CP)</label>
            <input type="text" class="form-control" name="putere"
                   ng-model="vm.car.putere">
        </div>
        <div class="form-group">
            <label>Rulaj (Nr. de kilometri)</label>
            <input type="text" class="form-control" name="nrKm"
                   ng-model="vm.car.nrKm">
        </div>



<!--        <div class="form-group">
            <label class="control-label">Login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                   ng-show="editForm.login.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.login.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" name="firstName"
                   ng-model="vm.user.firstName" ng-maxlength="50">

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                   ng-show="editForm.firstName.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>-->
<!--        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastName"
                   ng-model="vm.user.lastName" ng-maxlength="50">

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                   ng-show="editForm.lastName.$error.maxlength"
                >
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email"
                   ng-model="vm.user.email" required ng-maxlength="100">

            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength"
                >
                    This field cannot be longer than 100 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.email">
                    Your e-mail is invalid.
                </p>
            </div>
        </div
        <div class="form-group">
            <label for="activated">
                <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" name="activated" ng-model="vm.user.activated">
                <span>Activated</span>
            </label>
        </div>

        <div class="form-group">
            <label>Profiles</label>
            <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>   -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        >Anulare</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salveaza</span>
        </button>
    </div>

</form>
