<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCarLabel">
            Creeaza/Editeaza Casco</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   ng-model="vm.casco.id" readonly>
        </div>
        <div class="form-group">
            <label>Nume</label>
            <input type="text" class="form-control" name="name"
                   ng-model="vm.casco.name">
        </div>
        <div class="form-group">
            <label>Descriere</label>
            <input type="text" class="form-control" name="description"
                   ng-model="vm.casco.description">
        </div>
        <div class="form-group">
            <label>Observatii</label>
            <input type="text" class="form-control" name="observatii"
                   ng-model="vm.casco.observatii">
        </div>
        <div class="form-group">
            <label>Valabil pana la</label>
            <input type="text" class="form-control" name="not_after"
                   ng-model="vm.casco.not_after">
        </div>
        <div class="form-group">
            <label>Valabil incepand cu:</label>
            <input type="text" class="form-control" name="not_after"
                   ng-model="vm.casco.not_before">
        </div>
        <div class="form-group">
            <label>Suma asigurata:</label>
            <input type="text" class="form-control" name="sumaAsigurata"
                   ng-model="vm.casco.sumaAsigurata">
        </div>
        <div class="form-group">
            <label>Moneda</label>
            <input type="text" class="form-control" name="moneda"
                   ng-model="vm.casco.moneda">
        </div>
        <div class="form-group">
            <label>Clauze speciale</label>
            <input type="text" class="form-control" name="clauzeSpeciale"
                   ng-model="vm.casco.clauzeSpeciale">
        </div>
        <div class="form-group">
            <label>Alte precizari</label>
            <input type="text" class="form-control" name="altePrecizari"
                   ng-model="vm.casco.altePrecizari">
        </div>

        <div class="form-group">
            <label>Autoturism</label>
            <select class="form-control" multiple name="vm.casco.car" ng-model="vm.casco.car"
                    ng-options="car as car.name for car in cars">
            </select>
        </div>
<!--        <div>
            <label>Autoturism</label><br>
            <div class="col-sm-4">
                <select class="form-control" class="form-control" name="repeatSelect" id="repeatSelect" ng-model="vm.casco.car.name">
                    <option ng-repeat="car in cars" value="{{car.name}}">{{car.name}}</option>
                </select>
            </div><br><br>
        </div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Anuleaza</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salveaza</span>
        </button>
    </div>

</form>
