<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Reseteaza parola</h1>

            <div class="alert alert-danger" ng-show="vm.keyMissing">
                <strong>Cheia de resetare a parolei lipseste.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p>Alegeti o parola noua</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <p>Parola dumneavoastra nu poate fi resetata. Amintiți-va ca o solicitare de parola este valabila numai pentru 24 de ore.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <p><strong>Parola dumneavoastra a fost resetata.</strong> Va rugam <a class="alert-link" href="" ng-click="vm.login()">conectati-va</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Parola si confirmarea nu se potrivesc!
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password">Noua parola</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Noua parola"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Parola este obligatorie.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                Parola dvs. trebuie sa aiba cel putin 4 caractere.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                Parola nu trebuie sa fie mai mare de 50 de caractere.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirmare parola noua</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmare parola noua"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                Confirmarea parolei este obligatorie.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                Confirmarea parolei trebuie sa aiba cel puțin 4 caractere.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                Confirmarea parolei nu poate fi mai mare de 50 de caractere.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reseteaza parola</button>
                </form>
            </div>

        </div>
    </div>
</div>
